<h1 class = "text-center">Posts</h1>
<% @posts.reverse_each do |post| %>

  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.module1 + " " + post.module2 + " " + post.module3 + " " + post.module4 + " " + post.module5 + " " + post.module6 + " " + post.module7 + " " + post.module8 + " " + post.module9 + " " + post.module10 + " " + post.module11 + " " + post.module12 + " " + post.module13 %></p>
    <td><%= button_to 'Show', post_path(post), :class => "btn btn-default", :method => :get %></td>
  </div>

<% end %>
<div class = "text-center padding"><%= button_to 'Add a new medical post', new_post_path, :class => "btn btn-default", :method => :get %></div>
